#gazetteMenu{
    display: flex;
    justify-content: space-between;
    /* align-items: end; */
    /* background-color: pink; */
    gap: 5rem;
}
.navbar-collapse{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 2rem;
}

.search-block-form{
    display: flex;
    
   justify-content: end;
   align-items: end;
   margin-left: 8rem;
}